header{
    background-color: #000000;
    padding: 20px;
    text-align: center;
    font-style: bold;
    font-size: 24px;
    color:white;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid #e0e0e0;
}